/* Animations & Keyframes */

@keyframes spin { 
  to { 
    transform: rotate(360deg); 
  } 
}

@keyframes fadeIn { 
  from { 
    opacity: 0; 
  } 
  to { 
    opacity: 1; 
  } 
}

@keyframes typingBlink {
  0% { 
    opacity: .2; 
    transform: translateY(0px); 
  }
  50% { 
    opacity: 1; 
    transform: translateY(-2px); 
  }
  100% { 
    opacity: .2; 
    transform: translateY(0px); 
  }
}
